@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;

}
a:hover {
    color: #566481;
    text-decoration: underline;
}  

a:visited {
    color: #575757;
}
body {
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    line-height: 20px;
    background: #182133;
    color: rgb(180, 188, 206);
}

h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    margin-bottom: 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.info-about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

@media (max-width: 600px ) {
    .info-about {
        text-align: center;
        display: block;
    }
}

.info-about__img {
    width: 200px;
    border-radius: 10px;
    
}

.info-about__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80%;
    margin-left: 30px;
}

.heading {
    text-align: center;
    font-size: 25px;
    margin-bottom: 35px;
}

.card {
    border: 1px solid #6d80a7;
    margin-bottom: 40px;
    padding: 30px 30px 40px;
    border-radius: 10px;
}

.card ul {
    padding-left: 50px;
}

.how-much-time-to-learn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 400px;
    margin: 0 auto;
}

.how-much-time-to-learn-container > ul {
    list-style: none;
    padding: 0;
}

.wrap-table {
    text-align: center;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

th {
    padding: 10px 50px;
    border-bottom: 1px solid #6d80a7;
    
}
td {padding: 10px 20px;}

.ico-style {
    width: 60px;
}

.contacts-wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}